.DS_Store
*.o
run_tests*
!run_tests_dv1.cpp
bench/madras_bench*
!bench/madras_bench_dv1.cpp
cuda_bench/cuda_bench*
cuda_bench/mt_bench*
!cuda_bench/cuda_bench_dv1.cu
prgs/query_mdx*
!prgs/query_mdx.cpp
prgs/lookup*
!prgs/lookup.cpp
a.out*
*.txt*
*.log
*.rst
*.val
*.mdx
*.bin
*.msa
*.mdx
*.ods#
*.trace
*.dSYM
tex/*.pdf
tex/*.log
tex/*.gz
tex/*.out
tex/*.aux
test*
/export_sqlite*
emscripten/*.js
emscripten/*.wasm

